@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#main {
  display: flex;
}

.logo {
  width: 170px;
  height: 65px;
  margin-top: 40px;
  margin-left: 24px;
}

#sidebar {
  /* background-color: aqua; */
  height: 100vh;
  width: 20%;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dbdbdb;
  /* align-items: center; */
}

#sidebar ul {
  list-style-type: none;
  margin-top: 20px;
  margin-left: 14px;
}

#sidebar ul li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #262626;
  font-size: 20px;
  /* font-weight: 700; */
  line-height: 24px;
}

#sidebar ul li img {
  padding-right: 16px;
  width: 2.5vw;
}

#main-scrollable-container {
  /* background-color: pink; */
  height: 100vh;
  width: 80%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 30px;
  position: relative;
}

#stories-section {
  display: flex;
  width: 52%;
  /* background-color: white; */
  justify-content: space-around;
  padding: 20px 0 40px;
  /* overflow-x: auto; */
}

.story {
  /* background-image: url("./assets/instagram-stories.png");*/
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  /* width: 90px; */
  /* margin: 0 10px; */
}

.stories-image {
  /* background-image: url("./assets/instagram-stories.png"); */
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(
    to right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  ); /* Instagram gradient
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.stories-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  object-position: center;
}

.username {
  margin-top: 7px;
  font-size: 14px;
  /* font-weight: 500; */
  line-height: 16px;
  letter-spacing: 0.12px;
  color: #262626;
  text-align: center;
  /* max-width: 80px; */
  /* white-space: nowrap; */

  /* align-items: column; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

footer {
  width: 319px;
  /* background-color: palegreen; */
  /* border: 1px solid black; */
  position: absolute;
  top: 51px;
  right: 46px;
}

#user_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfileLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfileLeft img {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-right: 18px;
}

.userProfileLeft div h4 {
  color: #262626;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.userProfileLeft div p {
  color: #8e8e8e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#user_profile a {
  text-decoration: none;
  color: #0095f6;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  /* padding-inline: 20px; */
}

#footer_suggestions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

#footer_suggestions h5 {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

#footer_suggestions a {
  color: #262626;
  text-align: center;
  font-size: 11px;
  text-decoration: none;
  font-weight: 600;
  line-height: 16px;
}

#user_suggestion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.suggestion_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestion_div_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.suggestion_div_left div h4 {
  color: #262626;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  line-height: 18px;
}

.suggestion_div_left div p {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.suggestion_iserimg {
  width: 40px;
  height: 40px;
  background: #2d2d2d;
  border-radius: 50%;
  margin-left: 4px;
}

.suggestion_div a {
  text-decoration: none;
  color: #0095f6;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

#footer_links {
  margin-top: 24px;
}

#footer_links a {
  color: #c7c7c7;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

#copyright {
  color: #c7c7c7;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 20px;
}

#verify {
  width: 16px;
  height: 16px;
}

.post {
  width: 500px;
  /* border: 1px solid black; */
  margin-left: 8%;
  margin-top: 8px;
}

.post_header {
  padding: 8px 0px 8px 5px;
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}

.post_header div {
  display: flex;
  align-items: center;
}

.threeDots {
  align-items: center;
  margin-top: 10px;
  height: 30px;
}

#banner {
  /* background-image: url("./assets/instagram-stories.png"); */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(
    to right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  ); /* Instagram gradient
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-left: 4px; */
}

.header_username {
  margin-left: 10px;
  margin-right: 4.06px;
}

.header_time {
  color: #8e8e8e;
  font-size: 14px;
  line-height: 18px;
  margin-left: 6px;
}

.post_image img {
  width: 100%;
}

.post_button img {
  height: 25px;
  width: 25px;
}

.post_button {
  display: flex;
  margin-top: 4px;
  width: 100%;
  height: 46px;
  justify-content: space-between;
  align-items: center;
}

.post_button div {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 16px;
}

.post_footer {
  padding-bottom: 21px;
  border-bottom: 1px solid #dbdbdb;
}

.likes_count {
  color: #262626;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

.caption {
  color: #262626;
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
}

.translation_option {
  margin-top: 6px;
  color: #262626;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.comment_count {
  margin-top: 5px;
  color: #8e8e8e;
  font-size: 13px;
  line-height: 18px;
}

.post_footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.post_footer div p {
  color: #262626;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 1100px) {
  footer {
    display: none;
  }

  .post {
    margin-left: 5%;
  }
}
